* {
    margin: 0;
    padding: 0;
}


.navbar {
    height: 80px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-light a {
    color: #dc143c;
}

.bg-primary {
    background: transparent !important;
}

.bg-primary.scrolled {
    background: #6C63FF !important;
}

.navbar.scrolled a {
    color: #dc143c;
}

header {
    background: url('../image/back-freepik.jpg');
    width: 100%;
    background-size: cover;
    height: 600px;
}

.header-form-search form {
    position: absolute;
    justify-content: center;
    width: 650px;
    left: 380px;
    right: 380px;
    top: 350px;
}

/* category */

.card {
    width: 18rem;
}

.card-category {
    background-color: #ececec;
}

.field-category {
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
}

.field-category embed {
    width: 80px;
}


/* product */
.product-all {
    padding: 10px 10px;
}

.product-all a {
    font-size: 20px;
    color: #dc143c;
}

.product {
    margin-top: 50px;
}

.product-card img {
    width: 100%;
    height: 250px;
}


.product-lates {
    background-color: #ececec;
    padding-bottom: 40px;
}

.product-card-lates {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-card-lates img {
    height: 250px;
}

/* about */

.about-image img {
    width: 100%;
}

/* other-page */

.other-page {
    background-color: #6C63FF;
    height: 300px;
    align-items: center;
    color: white;
}

.other-page-two {
    background-color: #ececec;
    height: 300px;
}


/* detail product */

.detail-product {
    margin-top: 100px;
    margin-bottom: 100px;
}

.detail-product-other {
    margin-top: 200px;
}


.detail-product-image img {
    height: 500px;

}


/* password-user */

.password-user {
    margin-top: 100px;
    margin-bottom: 100px;
}

.password-form {
    margin-top: 70px;
}

/* pesan */
.bg-purples {
    background: #6C63FF !important;
}

.bg-danger {
    background-color: #dc143c !important;
}

/* footer */
footer {
    background-color: #6C63FF;
    width: 100%;
    height: auto;
    margin-top: 50px;
    color: white;
}


footer ul {
    list-style: none;
}

footer ul li a {
    color: white;
}

.footer {
    text-align: center;
    padding-top: 50px;
}

.copyright-footer p {
    color: white;
}


/* media query 687 */

@media screen and (max-width:600px) {

    .navbar {
        height: auto;
    }

    .navbar-nav {
        margin-left: none;
        align-items: center;
    }

    .carousel-item img {
        height: auto;
    }


    header {
        max-height: 300px;
    }


    .header-form-search form {
        left: 0px;
        right: 0px;
        top: 140px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        width: 100%;
    }

    .detail-product-other {
        margin-top: 20px;
    }

    .product-card img {
        width: 100%;
        height: 300px;
    }

    .product-card-lates img {
        height: 300px;
    }


    .other-page {

        height: auto;

    }

    .other-page-two {

        height: auto;
    }

    .detail-product-image img {
        height: 260px;
    }

}
